
left4dead2/cfg/stripper/bizzymod/maps/x1m3_city.cfg
left4dead2/cfg/stripper/bizzymod/maps/x1m2_path.cfg
left4dead2/cfg/stripper/bizzymod/maps/x1m1_cliffs.cfg
left4dead2/cfg/stripper/bizzymod/maps/versus_4.cfg
left4dead2/cfg/stripper/bizzymod/maps/versus_3.cfg
left4dead2/cfg/stripper/bizzymod/maps/versus_2.cfg
left4dead2/cfg/stripper/bizzymod/maps/versus_1.cfg
left4dead2/cfg/stripper/bizzymod/maps/uz_town.cfg
