; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================
modify:
; --- Remove relay for enabling escape tanks
{
	match:
	{
		"targetname" "relay_start_boat"
	}
	delete:
	{
		"OnTrigger" "relay_enable_tanksTrigger25-1"
	}
}
; --- Delay escape tanks after the rescue arrives
{
	match:
	{
		"classname" "trigger_finale"
	}
	insert:
	{
		"FinaleEscapeStarted" "director,RunScriptCode,DirectorScript.MapScript.LocalScript.EnableEscapeTanks(),60,-1"
	}
}

; =====================================================
; ==                  SAFEROOM ITEMS                 ==
; ==    Saferoom item spawns - ammo piles, weapons   ==
; =====================================================
add:
; --- Add T1 weapon spawns in the saferoom
{
	"classname" "weapon_spawn"
	"origin" "1956 4807 -53"
	"angles" "-75 90 -90"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "1999 4794 -62"
	"angles" "0 145 90"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
; --- Make the ammo pile in the house after the saferoom always spawn
modify:
{
	match:
	{
		"hammerid" "1035182"
	}
	replace:
	{
		"spawnflags" "2"
	}
}

; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================
add:
; --- Block out of bounds exploits around the pre-finale area
{
	"classname" "env_physics_blocker"
	"origin" "5192 5696 -32"
	"mins" "-120 -8 -40"
	"maxs" "120 8 40"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "5760 5168 -32"
	"mins" "-8 -240 -40"
	"maxs" "8 240 40"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "6928 3744 -72"
	"mins" "-112 -8 -16"
	"maxs" "112 8 16"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1428 1868 -116"
	"mins" "-884 -60 -76"
	"maxs" "884 60 76"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-3432 3036 80"
	"mins" "-120 -1508 -368"
	"maxs" "120 1508 368"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-3164 192 -236"
	"mins" "-388 -1472 -52"
	"maxs" "388 1472 52"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-2564 -384 16"
	"mins" "-268 -896 -200"
	"maxs" "268 896 200"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1160 -620 16"
	"mins" "-384 -660 -304"
	"maxs" "384 660 304"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "164 -1024 16"
	"mins" "-940 -256 -304"
	"maxs" "940 256 304"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "1288 -1120 44"
	"mins" "-184 -160 -332"
	"maxs" "184 160 332"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "1572 -1004 44"
	"mins" "-100 -44 -332"
	"maxs" "100 44 332"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "1516 -1070 44"
	"mins" "-44 -22 -332"
	"maxs" "44 22 332"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "1494 -1140 44"
	"mins" "-22 -44 -332"
	"maxs" "22 44 332"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Block getting under the ground in the open area before the finale
{
	"classname" "env_physics_blocker"
	"origin" "2136 1800 -136"
	"mins" "-8 -120 -56"
	"maxs" "8 120 56"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2136 352 -248"
	"mins" "-8 -1312 -40"
	"maxs" "8 1312 40"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2224 -864 -168"
	"mins" "-96 -69 -40"
	"maxs" "96 96 40"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Block out of bounds exploits around the finale area
{
	"classname" "env_physics_blocker"
	"origin" "7044 -4348 156"
	"mins" "-68 -508 -108"
	"maxs" "68 508 108"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "7024 -4972 664"
	"mins" "-68 -508 -108"
	"maxs" "68 508 108"
	"initialstate" "1"
	"BlockType" "0"
}

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================
add:
; --- Prevent a perma-stuck spot between a rock and cliff in the finale area
{
	"classname" "env_physics_blocker"
	"origin" "2976 -1665 -70"
	"mins" "-128 -62 -66"
	"maxs" "128 62 66"
	"initialstate" "1"
	"BlockType" "0"
}

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
add:
; --- Fix hunters being unable to jump in the deep water and infected getting slowed down
{
	"classname" "env_physics_blocker"
	"origin" "3540 -5055 -320"
	"mins" "-4348 -961 -16"
	"maxs" "4348 961 16"
	"initialstate" "1"
	"BlockType" "2"
	"targetname" "clipjump"
}