; =====================================================
; ==                  SAFEROOM ITEMS                 ==
; ==    Saferoom item spawns - ammo piles, weapons   ==
; =====================================================
modify:
; --- Allow the chrome and silenced SMG to spawn in the saferoom
{
	match:
	{
		"hammerid" "6913736"
	}
	replace:
	{
		"classname" "weapon_spawn"
		"spawnflags" "2"
	}
	insert:
	{
		"weapon_selection" "tier1_shotgun"
		"spawn_without_director" "1"
	}
}
{
	match:
	{
		"hammerid" "6913740"
	}
	replace:
	{
		"classname" "weapon_spawn"
		"spawnflags" "2"
	}
	insert:
	{
		"weapon_selection" "any_smg"
		"spawn_without_director" "1"
	}
}

; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
; --- Ensure the T2 spawns in the apartment spawn
modify:
{
	match:
	{
		"hammerid" "1612350"
	}
	replace:
	{
		"spawn_without_director" "1"
		"spawnflags" "18"
	}
}
{
	match:
	{
		"hammerid" "1612357"
	}
	replace:
	{
		"spawn_without_director" "1"
		"spawnflags" "18"
	}
}
{
	match:
	{
		"hammerid" "7923197"
	}
	replace:
	{
		"spawn_without_director" "1"
		"spawnflags" "18"
	}
}
; --- Change extra T2 weapon spawns to T1
{
	match:
	{
		"classname" "weapon_spawn"
		"weapon_selection" "tier2_any"
	}
	replace:
	{
		"weapon_selection" "tier1_any"
		"spawn_without_director" "1"
		"spawnflags" "18"
	}
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
modify:
; --- Make the ammo pile in the apartment room always spawn
{
	match:
	{
		"hammerid" "8836879"
	}
	insert:
	{
		"spawnflags" "2"
	}
}
; --- Make the ammo pile in the room before the offices always spawn
{
	match:
	{
		"hammerid" "3708247"
	}
	insert:
	{
		"spawnflags" "2"
	}
}

add:
; --- Ammo pile in the office reception
{
	"classname" "weapon_ammo_spawn"
	"origin" "8757 4568 88"
	"angles" "0 270 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}