; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================
filter:
; --- Remove scripted common spawns when the event is triggered
{
	"targetname" "zombie_spawn1"
}

add:
; --- Stop the event once survivors reach the saferoom
{
	"classname" "logic_auto"
	"OnMapSpawn" "event_stop_trigger,AddOutput,mins -164 -114 -84,0,-1"
	"OnMapSpawn" "event_stop_trigger,AddOutput,maxs 164 114 84,0,-1"
	"OnMapSpawn" "event_stop_trigger,AddOutput,boxmins -164 -114 -84,0,-1"
	"OnMapSpawn" "event_stop_trigger,AddOutput,boxmaxs 164 114 84,0,-1"
	"OnMapSpawn" "event_stop_trigger,AddOutput,solid 2,0,-1"
}
{
	"classname" "trigger_once"
	"origin" "7704 -11362 524"
	"targetname" "event_stop_trigger"
	"filtername" "filter_survivor"
	"spawnflags" "1"
	"OnTrigger" "director,EndScript,,0,-1"
}

; --- Stop the event after 90s
modify:
{
	match:
	{
		"targetname" "train_engine_relay"
	}
	insert:
	{
		"OnTrigger" "@director,EndScript,,90,-1"
	}
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
; --- Ammo pile outside room after the ramp
add:
{
	"classname" "weapon_ammo_spawn"
	"origin" "1771 -11959 260"
	"angles" "0 90 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Ammo pile at the camp site after the ramp
{
	"classname" "weapon_ammo_spawn"
	"origin" "938 -11084 254"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

; --- Make the ammo pile in the barn always spawn
modify:
{
	match:
	{
		"hammerid" "2266049"
	}
	insert:
	{
		"spawnflags" "2"
	}
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================
add:
; --- Prevent infected from going out of bounds around the outside of the first area
{
	"classname" "env_physics_blocker"
	"origin" "-592 -9744 632"
	"mins" "-80 -1040 -504"
	"maxs" "80 1040 504"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-264 -9322 632"
	"mins" "-248 -528 -504"
	"maxs" "248 528 504"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "72 -9352 632"
	"mins" "-72 -40 -504"
	"maxs" "72 40 504"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2024 -8992 632"
	"mins" "-2040 -288 -504"
	"maxs" "2040 288 504"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "3568 -11816 632"
	"mins" "-496 -168 -504"
	"maxs" "496 168 504"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2240 -12364 632"
	"mins" "-128 -100 -504"
	"maxs" "128 100 504"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2744 -12188 788"
	"mins" "-296 -52 -660"
	"maxs" "296 52 660"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2888 -12080 788"
	"mins" "-152 -56 -660"
	"maxs" "152 56 660"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "1504 -12440 496"
	"mins" "-32 -24 -16"
	"maxs" "32 24 16"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "336 -12268 988"
	"mins" "-1008 -196 -476"
	"maxs" "1008 196 476"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-144 -11844 988"
	"mins" "-528 -228 -476"
	"maxs" "528 228 476"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "784 -12012 988"
	"mins" "-400 -60 -476"
	"maxs" "400 60 476"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "640 -11892 988"
	"mins" "-256 -60 -476"
	"maxs" "256 60 476"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "496 -11772 988"
	"mins" "-112 -60 -476"
	"maxs" "112 60 476"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Prevent infected from going out of bounds around the outside of the second area
{
	"classname" "env_physics_blocker"
	"origin" "2136 -13488 952"
	"mins" "-216 -992 -392"
	"maxs" "216 992 392"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "3512 -14792 920"
	"mins" "-376 -104 -424"
	"maxs" "376 104 424"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10224 -14624 920"
	"mins" "-1008 -272 -424"
	"maxs" "1008 272 424"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10992 -12800 800"
	"mins" "-240 -1536 -544"
	"maxs" "240 1536 544"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "10524 -9072 800"
	"mins" "-708 -2192 -544"
	"maxs" "708 2192 544"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "6912 -8560 800"
	"mins" "-768 -1680 -544"
	"maxs" "768 1680 544"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "6528 -9976 1536"
	"angles" "0 50 0"
	"mins" "-1008 -8 -192"
	"maxs" "1008 8 192"
	"boxmins" "-1008 -8 -192"
	"boxmaxs" "1008 8 192"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "4992 -11368 1536"
	"angles" "0 35 0"
	"mins" "-1088 -8 -192"
	"maxs" "1088 8 192"
	"boxmins" "-1088 -8 -192"
	"boxmaxs" "1088 8 192"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "3592 -12152 1536"
	"angles" "0 16 0"
	"mins" "-504 -8 -192"
	"maxs" "504 8 192"
	"boxmins" "-504 -8 -192"
	"boxmaxs" "504 8 192"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "3088 -12280 1536"
	"mins" "-16 -8 -192"
	"maxs" "16 8 192"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "5636 -10752 436"
	"mins" "-1540 -512 -180"
	"maxs" "1540 512 180"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "5412 -11416 436"
	"mins" "-588 -152 -180"
	"maxs" "588 152 180"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "5028 -11640 536"
	"mins" "-372 -240 -280"
	"maxs" "372 240 280"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "4316 -11740 576"
	"mins" "-340 -340 -320"
	"maxs" "340 340 320"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2884 -12364 544"
	"mins" "-156 -76 -288"
	"maxs" "156 76 288"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2572 -12416 552"
	"mins" "-156 -104 -296"
	"maxs" "156 104 296"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2536 -12304 800"
	"mins" "-136 -32 -544"
	"maxs" "136 32 544"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2492 -12368 800"
	"mins" "-92 -32 -544"
	"maxs" "92 32 544"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2448 -12432 800"
	"mins" "-48 -32 -544"
	"maxs" "48 32 544"
	"initialstate" "1"
	"BlockType" "0"
}

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================
add:
; --- Prevent a perma-stuck spot in the back of the train tunnel
{
	"classname" "env_physics_blocker"
	"origin" "1216 -13440 32"
	"mins" "-42 -8 -96"
	"maxs" "42 8 96"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "1251 -13495 -52"
	"mins" "-60 -46.5 -12.5"
	"maxs" "60 46.5 12.5"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Block a stuck spot on cliff rocks below the saferoom
{
	"classname" "env_physics_blocker"
	"origin" "7591 -12648 -12"
	"mins" "-23 -29 -44"
	"maxs" "23 29 44"
	"initialstate" "1"
	"BlockType" "0"
}
