; =====================================================
; ==                  SAFEROOM ITEMS                 ==
; ==    Saferoom item spawns - ammo piles, weapons   ==
; =====================================================
modify:
; --- Allow the chrome and silenced SMG to spawn in the saferoom
{
	match:
	{
		"hammerid" "7157134"
	}
	replace:
	{
		"classname" "weapon_spawn"
		"spawnflags" "2"
	}
	insert:
	{
		"weapon_selection" "tier1_shotgun"
		"spawn_without_director" "1"
	}
}
{
	match:
	{
		"hammerid" "7157136"
	}
	replace:
	{
		"classname" "weapon_spawn"
		"spawnflags" "2"
	}
	insert:
	{
		"weapon_selection" "any_smg"
		"spawn_without_director" "1"
	}
}

; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
; --- Change the Rifle spawn outside the saferoom to a SMG
modify:
{
	match:
	{
		"hammerid" "7361314"
	}
	replace:
	{
		"weapon_selection" "any_smg"
		"spawn_without_director" "0"
		"spawnflags" "16"
	}
}
; --- Change the T2 spawns at the event to T1
{
	match:
	{
		"hammerid" "7360761"
	}
	replace:
	{
		"weapon_selection" "any_smg"
		"spawn_without_director" "1"
		"spawnflags" "18"
	}
}
{
	match:
	{
		"hammerid" "7360763"
	}
	replace:
	{
		"weapon_selection" "tier1_shotgun"
		"spawn_without_director" "1"
		"spawnflags" "18"
	}
}
; --- Change the Sniper spawn at the event to a Rifle
{
	match:
	{
		"hammerid" "6360822"
	}
	replace:
	{
		"weapon_selection" "any_rifle"
		"spawn_without_director" "1"
		"spawnflags" "18"
	}
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
modify:
; --- Make the ammo pile after the event always spawn
{
	match:
	{
		"hammerid" "6360378"
	}
	replace:
	{
		"spawnflags" "2"
	}
}
; --- Make the ammo pile by the power station always spawn
modify:
{
	match:
	{
		"hammerid" "2161042"
	}
	replace:
	{
		"spawnflags" "2"
	}
}