; =====================================================
; ==                  SAFEROOM ITEMS                 ==
; ==    Saferoom item spawns - ammo piles, weapons   ==
; =====================================================
add:
; --- T1 Weapon spawns in the saferoom
{
	"classname" "weapon_spawn"
	"origin" "237 5580 2859"
	"angles" "-77 289 70"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "226 5622 2850"
	"angles" "0 300 84"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
filter:
; --- Remove extra medkits
{
	"hammerid" "2654311"
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
add:
; --- Ammo pile in room before the elevator
{
	"classname" "weapon_ammo_spawn"
	"origin" "1827 5258 2464"
	"angles" "0 210 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================
filter:
; --- Open up the burning room on the top floor
; --- Remove fire particles
{
	"targetname" "fire10-particles"
}
; --- Remove damage triggers for fire
{
	"targetname" "fire10-hurt"
}
{
	"targetname" "fire01-hurt"
}
; --- Remove player blocker in the doorway
{
	"targetname" "inferno01-playerclip"
}

modify:
; --- Increase damage done by the fire in the hallway
{
	match:
	{
		"targetname" "fire03-hurt"
	}
	replace:
	{
		"damage" "12"
	}
}

add:
; --- Add new fire particles in the doorway
{
	"classname" "info_particle_system"
	"origin" "1949 6593 2642"
	"angles" "0 270 0"
	"start_active" "1"
	"effect_name" "inferno_grow"
}
{
	"classname" "info_particle_system"
	"origin" "1872 6593 2642"
	"angles" "0 270 0"
	"start_active" "1"
	"effect_name" "inferno_grow"
}
; --- Add corpse pile to cover up scorch decals
{
	"classname" "prop_dynamic"
	"origin" "2065 6614 2654"
	"angles" "0 45 0"
	"model" "models/deadbodies/cemetary/oval_192_a.mdl"
	"solid" "6"
	"disableshadows" "1"
}

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
modify:
; --- Force elevator doors to open faster
{
	match:
	{
		"targetname" "relay_elevator_reached_bottom"
	}
	delete:
	{
		"OnTrigger" "elevator_door_button1Press60-1"
	}
	insert:
	{
		"OnTrigger" "elevator_door_button1,Press,,20,-1"
	}
}

add:
; --- Added collision to the railings in the elevator allowing the survivors to jump onto them
{
	"classname" "env_physics_blocker"
	"origin" "2260 5832 2505"
	"mins" "-2 -70 -2"
	"maxs" "2 70 2"
	"initialstate" "1"
	"BlockType" "0"
	"parentname" "elevator_1"
}
{
	"classname" "env_physics_blocker"
	"origin" "2076 5832 2505"
	"mins" "-2 -70 -2"
	"maxs" "2 70 2"
	"initialstate" "1"
	"BlockType" "0"
	"parentname" "elevator_1"
}
{
	"classname" "env_physics_blocker"
	"origin" "2168 5901 2505"
	"mins" "-90 -2 -2"
	"maxs" "90 2 2"
	"initialstate" "1"
	"BlockType" "0"
	"parentname" "elevator_1"
}
; --- Added collision to the railings in the second elevator allowing the survivors to jump onto them
{
	"classname" "env_physics_blocker"
	"origin" "1836 5832 1228"
	"mins" "-2 -70 -2"
	"maxs" "2 70 2"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2020 5832 1228"
	"mins" "-2 -70 -2"
	"maxs" "2 70 2"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "1928 5901 1228"
	"mins" "-90 -2 -2"
	"maxs" "90 2 2"
	"initialstate" "1"
	"BlockType" "0"
}

; =====================================================
; ==             GFX / PARTICLES REMOVAL             ==
; ==        Remove visual effects from the map       ==
; =====================================================
modify:
; --- Reduce density of the ground floor fog
{
    match:
    {
		"targetname" "fog_floorone"
		"classname" "env_fog_controller"
    }
    replace:
    {
		"fogstart" "64"
		"fogend" "832"
    }
}
{
	match:
	{
		"classname" "func_precipitation"
		"hammerid" "2657555"
	}
	replace:
	{
		"renderamt" "75"
	}
}

; =====================================================
; ==              TRIGGER REMOVAL / FIX              ==
; ==    Fix triggers that interfere with gameplay    ==
; =====================================================
filter:
; --- Remove push triggers
{
	"classname" "trigger_push"
}

modify:
; --- Reduce damage of 2 overlapping triggers near the end of the map that do too much damage
{
	match:
	{
		"classname" "trigger_hurt"
		"damage" "20"
	}
	replace:
	{
		"damage" "16"
	}
}

