; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
filter:
; --- Remove Hunting Rifle spawn
{
	"classname" "weapon_spawn"
	"weapon_selection" "any_sniper_rifle"
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
add:
; --- Ammo pile outside the 2-story house just before the town
{
	"classname" "weapon_ammo_spawn"
	"origin" "-7864 8698 64"
	"angles" "0 90 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Ammo pile in the picnic area after the ferry
{
	"classname" "weapon_ammo_spawn"
	"origin" "-3840 7197 0"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Ammo pile on the table at the walkway near the end of the map
{
	"classname" "weapon_ammo_spawn"
	"origin" "-980 5037 180"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================
add:
; --- Fallen hittable tree in the swamp
{
	"classname" "prop_physics"
	"origin" "-754 8588 5"
	"angles" "0 120 0"
	"model" "models/props_foliage/swamp_fallentree01_bare.mdl"
	"disableshadows" "1"
}

; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================
add:
; --- Rocks outside saferoom
{
	"classname" "prop_dynamic"
	"origin" "-12477 9735 160"
	"angles" "-2.29253 203.52 -0.997405"
	"model" "models/props_foliage/swamp_rock02.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- SUV outside of saferoom
{
	"classname" "prop_dynamic"
	"origin" "-12115 10194 168"
	"angles" "1.0967 226.973 -1.02324"
	"model" "models/props_vehicles/suv_2001.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendercolor" "82 87 68"
}
{
	"classname" "prop_dynamic"
	"origin" "-12115 10194 168"
	"angles" "1.0967 226.973 -1.02324"
	"model" "models/props_vehicles/suv_2001_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Fix LOS under SUV
{
	"classname" "logic_auto"
	"OnMapSpawn" "losfix_suv_a,AddOutput,mins -44 -3 -14,0,-1"
	"OnMapSpawn" "losfix_suv_a,AddOutput,maxs 44 3 14,0,-1"
	"OnMapSpawn" "losfix_suv_a,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_suv_b,AddOutput,mins -3 -44 -14,0,-1"
	"OnMapSpawn" "losfix_suv_b,AddOutput,maxs 3 44 14,0,-1"
	"OnMapSpawn" "losfix_suv_b,AddOutput,solid 2,0,-1"
}
{
	"classname" "func_brush"
	"origin" "-12059 10246 179"
	"targetname" "losfix_suv_a"
}
{
	"classname" "func_brush"
	"origin" "-12153 10159 179"
	"targetname" "losfix_suv_a"
}
{
	"classname" "func_brush"
	"origin" "-12106 10202 179"
	"targetname" "losfix_suv_b"
}
; --- Extra bushes in the early open area of the swamp
{
	"classname" "prop_dynamic"
	"origin" "-4117 7703 -2"
	"angles" "0 27.5 0"
	"model" "models/props_foliage/swamp_shrubwall_block_256.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-4199 7918 -2"
	"angles" "0 15.5 0"
	"model" "models/props_foliage/swamp_shrubwall_block_256_deep.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-3452 8283 -2"
	"angles" "0 327.5 0"
	"model" "models/props_foliage/swamp_shrubwall_block_256.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-3307 8462 -2"
	"angles" "0 315.5 0"
	"model" "models/props_foliage/swamp_shrubwall_block_256_deep.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-3427 8838 -12"
	"angles" "0 282.5 0"
	"model" "models/props_foliage/swamp_shrubwall_block_256.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Trailer with dead bodies in the swamp
{
	"classname" "prop_dynamic"
	"origin" "-3493 9222 28"
	"angles" "-10 170 0"
	"model" "models/props_vehicles/trailer002a.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-3393 9215 11"
	"angles" "0 95 15"
	"model" "models/deadbodies/milltownrain/corner_a.mdl"
	"solid" "6"
	"disableshadows" "1"
}

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
filter:
; --- Remove floating / fallen oil barrels
{
	"hammerid" "1484643"
}
{
	"hammerid" "1484675"
}
{
	"hammerid" "1484691"
}
{
	"hammerid" "2090218"
}
{
	"hammerid" "2090222"
}

add:
; --- Block LOS under floating trees
{
	"classname" "logic_auto"
	; --- Large trees
	"OnMapSpawn" "losfix_swamptree_large_a,AddOutput,mins -48 -1 -18,0,-1"
	"OnMapSpawn" "losfix_swamptree_large_a,AddOutput,maxs 48 1 18,0,-1"
	"OnMapSpawn" "losfix_swamptree_large_a,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_swamptree_large_b,AddOutput,mins -1 -48 -18,0,-1"
	"OnMapSpawn" "losfix_swamptree_large_b,AddOutput,maxs 1 48 18,0,-1"
	"OnMapSpawn" "losfix_swamptree_large_b,AddOutput,solid 2,0,-1"
	; --- Medium trees
	"OnMapSpawn" "losfix_swamptree_medium_a,AddOutput,mins -28 -1 -18,0,-1"
	"OnMapSpawn" "losfix_swamptree_medium_a,AddOutput,maxs 28 1 18,0,-1"
	"OnMapSpawn" "losfix_swamptree_medium_a,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_swamptree_medium_b,AddOutput,mins -1 -28 -18,0,-1"
	"OnMapSpawn" "losfix_swamptree_medium_b,AddOutput,maxs 1 28 18,0,-1"
	"OnMapSpawn" "losfix_swamptree_medium_b,AddOutput,solid 2,0,-1"
	; --- Small trees
	"OnMapSpawn" "losfix_swamptree_small_a,AddOutput,mins -23 -1 -18,0,-1"
	"OnMapSpawn" "losfix_swamptree_small_a,AddOutput,maxs 23 1 18,0,-1"
	"OnMapSpawn" "losfix_swamptree_small_a,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_swamptree_small_b,AddOutput,mins -1 -23 -18,0,-1"
	"OnMapSpawn" "losfix_swamptree_small_b,AddOutput,maxs 1 23 18,0,-1"
	"OnMapSpawn" "losfix_swamptree_small_b,AddOutput,solid 2,0,-1"
	; --- Very small trees
	"OnMapSpawn" "losfix_swamptree_vsmall_a,AddOutput,mins -19 -1 -18,0,-1"
	"OnMapSpawn" "losfix_swamptree_vsmall_a,AddOutput,maxs 19 1 18,0,-1"
	"OnMapSpawn" "losfix_swamptree_vsmall_a,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_swamptree_vsmall_b,AddOutput,mins -1 -19 -18,0,-1"
	"OnMapSpawn" "losfix_swamptree_vsmall_b,AddOutput,maxs 1 19 18,0,-1"
	"OnMapSpawn" "losfix_swamptree_vsmall_b,AddOutput,solid 2,0,-1"
}
; --- Post-ferry area
{
	"classname" "func_brush"
	"origin" "-3484 6035 -36"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-3484 6035 -36"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-3401 5245 -18"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-3401 5245 -18"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-3154 6249 -33"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-3154 6249 -33"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-2527 6540 -38"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-2527 6540 -38"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-2563 7274 -28"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-2563 7274 -28"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-1494 7386 -31"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-1494 7386 -31"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-1197 7676 -31"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-1197 7676 -31"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-1020 7104 -31"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-1020 7104 -31"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-3265 5594 -39"
	"targetname" "losfix_swamptree_medium_a"
}
{
	"classname" "func_brush"
	"origin" "-3265 5594 -39"
	"targetname" "losfix_swamptree_medium_b"
}
{
	"classname" "func_brush"
	"origin" "-3037 9422 -10"
	"targetname" "losfix_swamptree_medium_a"
}
{
	"classname" "func_brush"
	"origin" "-3037 9422 -10"
	"targetname" "losfix_swamptree_medium_b"
}
{
	"classname" "func_brush"
	"origin" "-1858 5767 -31"
	"targetname" "losfix_swamptree_medium_a"
}
{
	"classname" "func_brush"
	"origin" "-1858 5767 -31"
	"targetname" "losfix_swamptree_medium_b"
}
{
	"classname" "func_brush"
	"origin" "-24 6316 -43"
	"targetname" "losfix_swamptree_small_a"
}
{
	"classname" "func_brush"
	"origin" "-24 6316 -43"
	"targetname" "losfix_swamptree_small_b"
}
; --- End saferoom area
{
	"classname" "func_brush"
	"origin" "-2759 4426 -39"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-2759 4426 -39"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-2838 4400 -39"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-2838 4400 -39"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-636 4507 -30"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-636 4507 -30"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-493 4101 -34"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-493 4101 -34"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-102 4188 -42"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-102 4188 -42"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-1104 2530 -33"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-1104 2530 -33"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-911 2375 -33"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-911 2375 -33"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-967 2318 -33"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-967 2318 -33"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-1297 2225 -30"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-1297 2225 -30"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-1212 1694 -38"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-1212 1694 -38"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-1269 1728 -39"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-1269 1728 -39"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-1739 1831 -34"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-1739 1831 -34"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-1798 1769 -33"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-1798 1769 -33"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-2354 1849 -44"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-2354 1849 -44"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-2556 2942 -39"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-2556 2942 -39"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-2575 2875 -37"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-2575 2875 -37"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-2523 2835 -40"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-2523 2835 -40"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-2362 2540 -33"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-2362 2540 -33"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-3077 2484 -39"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-3077 2484 -39"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-2868 2280 -39"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-2868 2280 -39"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-3061 1587 -38"
	"targetname" "losfix_swamptree_large_a"
}
{
	"classname" "func_brush"
	"origin" "-3061 1587 -38"
	"targetname" "losfix_swamptree_large_b"
}
{
	"classname" "func_brush"
	"origin" "-1187 1781 -43"
	"targetname" "losfix_swamptree_medium_a"
}
{
	"classname" "func_brush"
	"origin" "-1187 1781 -43"
	"targetname" "losfix_swamptree_medium_b"
}
{
	"classname" "func_brush"
	"origin" "-1332 1761 -42"
	"targetname" "losfix_swamptree_medium_a"
}
{
	"classname" "func_brush"
	"origin" "-1332 1761 -42"
	"targetname" "losfix_swamptree_medium_b"
}
{
	"classname" "func_brush"
	"origin" "-3017 2653 -36"
	"targetname" "losfix_swamptree_medium_a"
}
{
	"classname" "func_brush"
	"origin" "-3017 2653 -36"
	"targetname" "losfix_swamptree_medium_b"
}
{
	"classname" "func_brush"
	"origin" "-2754 2300 -44"
	"targetname" "losfix_swamptree_medium_a"
}
{
	"classname" "func_brush"
	"origin" "-2754 2300 -44"
	"targetname" "losfix_swamptree_medium_b"
}
{
	"classname" "func_brush"
	"origin" "-3215 1711 -43"
	"targetname" "losfix_swamptree_medium_a"
}
{
	"classname" "func_brush"
	"origin" "-3215 1711 -43"
	"targetname" "losfix_swamptree_medium_b"
}
{
	"classname" "func_brush"
	"origin" "-2031 4272 -40"
	"targetname" "losfix_swamptree_vsmall_a"
}
{
	"classname" "func_brush"
	"origin" "-2031 4272 -40"
	"targetname" "losfix_swamptree_vsmall_b"
}
{
	"classname" "func_brush"
	"origin" "-1266 3438 -40"
	"targetname" "losfix_swamptree_vsmall_a"
}
{
	"classname" "func_brush"
	"origin" "-1266 3438 -40"
	"targetname" "losfix_swamptree_vsmall_b"
}

; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================
modify:
; --- Fix ladder at the event so its easier to climb
{
	match:
	{
		"hammerid" "1324240"
	}
	insert:
	{
		"origin" "6 0 0"
	}
}

; =====================================================
; ==                 VISUAL EFFECTS                  ==
; ==     		 Fog, skybox, & effects              ==
; =====================================================
add:
; --- Increase fog density in the swamp after the ferry
{
	"targetname" "swamp_fog_controller2"
	"heightFogStart" "0.0"
	"heightFogMaxDensity" "1.0"
	"heightFogDensity" "0.0"
	"HDRColorScale" "1"
	"fogstart" "0"
	"fogmaxdensity" "1"
	"foglerptime" "15"
	"fogend" "1400"
	"fogenable" "1"
	"fogdir" "1 0 0"
	"fogcolor2" "90 95 95"
	"fogcolor" "35 43 50"
	"fogblend" "0"
	"farz" "2200"
	"angles" "0 0 0"
	"classname" "env_fog_controller"
}

modify:
{
	match:
	{
		"targetname" "swamp_fog_volume"
	}
	replace:
	{
		"FogName" "swamp_fog_controller2"
	}
}
{
	match:
	{
		"classname" "sky_camera"
	}
	replace:
	{
		"fogend" "1400"
	}
}
