; =====================================================
; ==                  SAFEROOM ITEMS                 ==
; ==    Saferoom item spawns - ammo piles, weapons   ==
; =====================================================
add:
; --- T1 Weapon spawns in the saferoom
{
	"classname" "weapon_spawn"
	"origin" "-12133 5949 140"
	"angles" "-74 165 75"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_spawn"
	"origin" "-12166 5925 169"
	"angles" "0 259 90"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
add:
; --- Clipping on debris piles (near the start) to stop players getting stuck
{
	"classname" "env_physics_blocker"
	"origin" "-8100 6200 462"
	"mins" "-60 -56 -6"
	"maxs" "60 56 6"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-7346 6162 463"
	"mins" "-134 -56 -7"
	"maxs" "134 56 7"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-7329 6152 477"
	"mins" "-86 -44 -7"
	"maxs" "86 44 7"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-6699 6490 463"
	"mins" "-134 -56 -7"
	"maxs" "134 56 7"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-6716 6500 477"
	"mins" "-86 -44 -7"
	"maxs" "86 44 7"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-6410 6421 462"
	"mins" "-60 -56 -6"
	"maxs" "60 56 6"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Add collision to damaged beams on the top of the bridge where tank spawns
{
	"classname" "prop_dynamic"
	"origin" "3580 6209 691"
	"angles" "0 180 0"
	"model" "models/props_highway/beam_damaged_01.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}
{
	"classname" "prop_dynamic"
	"origin" "3580 6445 691"
	"angles" "0 180 0"
	"model" "models/props_highway/beam_damaged_01.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}
{
	"classname" "prop_dynamic"
	"origin" "3580 6327 691"
	"angles" "0 180 0"
	"model" "models/props_highway/beam_damaged_02.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}
; --- Add missing glass to vehicles
{
	"classname" "prop_dynamic"
	"origin" "4752 6230.29 525.433"
	"angles" "13.4093 355.198 16.3242"
	"model" "models/props_vehicles/cara_69sedan_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "inst_bridge_destruct-prop_dyn_tilt"
}
{
	"classname" "prop_dynamic"
	"origin" "6343 6269.96 553.501"
	"angles" "-0.0433924 3.65331 15.798"
	"model" "models/props_vehicles/flatnose_truck_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "inst_bridge_destruct-prop_dyn_tilt"
}
; --- Remove fallen barrel by the escape
filter:
{
	"hammerid" "2144027"
}

; =====================================================
; ==              TRIGGER REMOVAL / FIX              ==
; ==    Fix triggers that interfere with gameplay    ==
; =====================================================
; --- Fix triggers that are supposed to be clips (they have a clip texture, and makes no sense to have triggers in these locations)
modify:
; --- Angled clip over bridge support near the end of the map to stop players from standing on it
{
	match:
	{
		"hammerid" "2451129"
	}
	replace:
	{
		"classname" "func_brush"
	}
	insert:
	{
		"Solidity" "2"
		"solid" "6"
	}
}
