; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
; --- Fix finale pills disappearing (confoglcompmod issue)
filter:
{
	"classname" "weapon_item_spawn"
}
{
	"classname" "weapon_pain_pills_spawn"
}
modify:
{
	match:
	{
		"hammerid" "2242167"
	}
	replace:
	{
		"spawnflags" "2"
	}
}
{
	match:
	{
		"hammerid" "2242169"
	}
	replace:
	{
		"spawnflags" "2"
	}
}
{
	match:
	{
		"hammerid" "2242171"
	}
	replace:
	{
		"spawnflags" "2"
	}
}
{
	match:
	{
		"hammerid" "2242173"
	}
	replace:
	{
		"spawnflags" "2"
	}
}

; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block survivors from standing on awnings outside saferoom
{
	"classname" "env_physics_blocker"
	"origin" "1944 3784 716"
	"mins" "-392 -24 -564"
	"maxs" "392 24 564"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "2480 3801 688"
	"mins" "-117 -23 -592"
	"maxs" "117 23 592"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "2736 3776 700"
	"mins" "-106 -49 -580"
	"maxs" "106 49 580"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "2992 3801 688"
	"mins" "-117 -23 -592"
	"maxs" "117 23 592"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "3440 3752 676"
	"mins" "-248 -24 -604"
	"maxs" "248 24 604"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "3972 3762 680"
	"mins" "-252 -14 -600"
	"maxs" "252 14 600"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the boat house roof
{
	"classname" "env_physics_blocker"
	"origin" "3960 -4221 704"
	"mins" "-8 -197 -576"
	"maxs" "8 197 576"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "3608 -4221 704"
	"mins" "-8 -197 -576"
	"maxs" "8 197 576"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "3784 -4032 725"
	"mins" "-169 -8 -555"
	"maxs" "169 8 555"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "3784 -4410 725"
	"mins" "-169 -8 -555"
	"maxs" "169 8 555"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================
add:
; --- Block out of bounds exploits around the pre-finale area
{
	"classname" "env_physics_blocker"
	"origin" "5192 5696 -32"
	"mins" "-120 -8 -40"
	"maxs" "120 8 40"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "5760 5168 -32"
	"mins" "-8 -240 -40"
	"maxs" "8 240 40"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "6928 3744 -72"
	"mins" "-112 -8 -16"
	"maxs" "112 8 16"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1428 1868 -116"
	"mins" "-884 -60 -76"
	"maxs" "884 60 76"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-3432 3036 80"
	"mins" "-120 -1508 -368"
	"maxs" "120 1508 368"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-3164 192 -236"
	"mins" "-388 -1472 -52"
	"maxs" "388 1472 52"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-2564 -384 16"
	"mins" "-268 -896 -200"
	"maxs" "268 896 200"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1160 -620 16"
	"mins" "-384 -660 -304"
	"maxs" "384 660 304"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "164 -1024 16"
	"mins" "-940 -256 -304"
	"maxs" "940 256 304"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "1288 -1120 44"
	"mins" "-184 -160 -332"
	"maxs" "184 160 332"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "1572 -1004 44"
	"mins" "-100 -44 -332"
	"maxs" "100 44 332"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "1516 -1070 44"
	"mins" "-44 -22 -332"
	"maxs" "44 22 332"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "1494 -1140 44"
	"mins" "-22 -44 -332"
	"maxs" "22 44 332"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Block getting under the ground in the open area before the finale
{
	"classname" "env_physics_blocker"
	"origin" "2136 1800 -136"
	"mins" "-8 -120 -56"
	"maxs" "8 120 56"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2136 352 -248"
	"mins" "-8 -1312 -40"
	"maxs" "8 1312 40"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2224 -864 -168"
	"mins" "-96 -69 -40"
	"maxs" "96 96 40"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Block out of bounds exploits around the finale area
{
	"classname" "env_physics_blocker"
	"origin" "7044 -4348 156"
	"mins" "-68 -508 -108"
	"maxs" "68 508 108"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "7024 -4972 664"
	"mins" "-68 -508 -108"
	"maxs" "68 508 108"
	"initialstate" "1"
	"BlockType" "0"
}

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================
add:
; --- Prevent a perma-stuck spot between a rock and cliff in the finale area
{
	"classname" "env_physics_blocker"
	"origin" "2976 -1665 -70"
	"mins" "-128 -62 -66"
	"maxs" "128 62 66"
	"initialstate" "1"
	"BlockType" "0"
}

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
add:
; --- Fix hunters being unable to jump in the deep water and infected getting slowed down
{
	"classname" "env_physics_blocker"
	"origin" "3540 -5055 -320"
	"mins" "-4348 -961 -16"
	"maxs" "4348 961 16"
	"initialstate" "1"
	"BlockType" "2"
	"targetname" "clipjump"
}


; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================
add:
; --- Tree in the open area before the finale
{
	"classname" "prop_dynamic"
	"origin" "3930 1103 -181"
	"angles" "0 60 0"
	"model" "models/props_foliage/old_tree01.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Rock in the back of the finale area by the hittable rock
{
	"classname" "prop_dynamic"
	"origin" "1484 -2888 56"
	"angles" "-15 59.5 90"
	"model" "models/props/cs_militia/militiarock03.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Tall rock next to the docks
{
	"classname" "prop_dynamic"
	"origin" "2184 -5072 -292"
	"angles" "-15.4038 356.381 73.2737"
	"model" "models/props/cs_militia/militiarock06.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "2183 -5127 480"
	"mins" "-62 -59 -800"
	"maxs" "62 59 800"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Small rock next to the docks
{
	"classname" "prop_dynamic"
	"origin" "3171 -4976 -324"
	"angles" "0 125 0"
	"model" "models/props/cs_militia/militiarock01.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Ferry roof over the docks
{
	"classname" "prop_dynamic"
	"origin" "2631 -4886 -189"
	"angles" "0 90 0"
	"model" "models/props_swamp/ferry.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "2740 -4777 -269"
	"angles" "0 0 0"
	"model" "models/props_docks/dock02_pole02a.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "2522 -4777 -269"
	"angles" "0 0 0"
	"model" "models/props_docks/dock02_pole02a.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "2522 -4995 -269"
	"angles" "0 0 0"
	"model" "models/props_docks/dock02_pole02a.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "2740 -4995 -269"
	"angles" "0 0 0"
	"model" "models/props_docks/dock02_pole02a.mdl"
	"solid" "6"
	"disableshadows" "1"
}

; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================
; --- Remove TLS clips after loading
add:
{
	"classname" "logic_auto"
	; --- Remove the added large rock by the docks - Replaced with our own
	"OnMapSpawn" "anv_mapfixes_rock_rene,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_rock_nav,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_rock_navblock_outabounds,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_rock_navblock_underneath,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_rock_infected_clipqol,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_rock_survivor_clipleft,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_rock_survivor_clipright,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_rock_survivor_clipwedge,Kill,,30,-1"
}

; =====================================================
; ==              TRIGGER REMOVAL / FIX              ==
; ==    Fix triggers that interfere with gameplay    ==
; =====================================================
modify:
; --- Reduce push trigger force on boat as it arrives
{
	match:
	{
		"targetname" "trigger_push_boat"
	}
	replace:
	{
		"speed" "250"
	}
}
; --- Fix survivors being able to walk out of the escape trigger during the escape sequence, causing them to be "dead" for the scoring
modify:
{
	match:
	{
		"targetname" "trigger_boat"
	}
	delete:
	{
		"OnEntireTeamStartTouch" "relay_leave_boatTrigger1-1"
	}
	insert:
	{
		"OnEntireTeamStartTouch" "relay_leave_boat,Trigger,,0,-1"
	}
}
{
	match:
	{
		"targetname" "relay_stop_boat"
	}
	delete:
	{
		"OnTrigger" "trigger_boatEnable0-1"
	}
	insert:
	{
		"OnTrigger" "trigger_boat,Enable,,1.5,-1"
	}
}


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================
add:
; --- Infected ladder to prevent a perma-stuck spot behind the saferoom
{
	"classname" "func_simpleladder"
	"origin" "-2216.5 6044 -8"
	"angles" "0 270 0"
	"model" "*32"
	"normal.x" "-1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Infected ladder to climb onto the picnic house roof from the back
{
	"classname" "func_simpleladder"
	"origin" "7586 -7273.49 20.5"
	"angles" "0 180 0"
	"model" "*151"
	"normal.x" "0.00"
	"normal.y" "1.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "prop_dynamic"
	"origin" "3320 -2588 234"
	"angles" "0 180 0"
	"model" "models/props_rooftop/gutter_pipe_256.mdl"
	"solid" "0"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "3320 -2588 -22"
	"angles" "0 180 0"
	"model" "models/props_rooftop/gutter_pipe_256.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- Infected ladders to climb onto the docks
{
	"classname" "func_simpleladder"
	"origin" "6828.5 -1345 -192.5"
	"angles" "0 270 0"
	"model" "*162"
	"normal.x" "1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "6173 -9097.5 -121"
	"angles" "0 180 0"
	"model" "*162"
	"normal.x" "0.00"
	"normal.y" "-1.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Infected ladder to climb on the light pole at the docks
{
	"classname" "func_simpleladder"
	"origin" "6677 -9609.5 -144"
	"angles" "0 180 0"
	"model" "*151"
	"normal.x" "0.00"
	"normal.y" "1.00"
	"normal.z" "0.00"
	"team" "2"
}

; =====================================================
; ================  FIXED ITEM SPAWNS  ================
; =====================================================
filter:
{
		"classname" "prop_physics"
		"model" "models/props_junk/trashbin01a.mdl"
}
{
		"classname" "prop_physics"
		"model" "models/props_street/trashbin01.mdl"
}

; =====================================================
; =============  PROMOD HITTABLE THING  ===============
; =====================================================
modify:
{
	match:
	{
		"targetname" "car30"
	}
	replace:
	{
		"origin" "5580 3432 -30"
	}
}
add:
{
	"classname" "logic_auto"
	; --- Remove TLS hittable
	"OnMapSpawn" "anv_mapfixes_hittable_log,Kill,,15,-1"
	; --- Remove TLS hittable
	"OnMapSpawn" "anv_mapfixes_hittable_rock,Kill,,15,-1"
}
{
	"classname" "prop_physics"
	"origin" "3300 2970 -62"
	"angles" "0 130 0"
	"model" "models/props_interiors/sofa_chair02.mdl"
	"solid" "6"
	"spawnflags" "0"
	"massScale" "108" 
	"BreakableType" "2"
	"fadescale" "0"
}
{
    "origin" "5245 -2521 -100"
	"solid" "6"
    "model" "models/props/cs_militia/militiarock02.mdl"
    "disableshadows" "1"
    "angles" "0 0 0"
    "classname" "prop_physics_override"
}
{
    "origin" "4026 -2514 -20"
	"solid" "6"
    "model" "models/props/cs_militia/militiarock02.mdl"
    "disableshadows" "1"
    "angles" "0 15 0"
    "classname" "prop_physics_override"
}
{
    "origin" "3428 -2096 -90"
	"solid" "6"
    "model" "models/props/cs_militia/militiarock02.mdl"
    "disableshadows" "1"
    "angles" "0 90 0"
    "classname" "prop_physics_override"
}
{
    "origin" "4517 -3658 -225"
	"solid" "6"
    "model" "models/props/cs_militia/militiarock02.mdl"
    "disableshadows" "1"
    "angles" "0 9 0"
    "classname" "prop_physics_override"
}
{
    "origin" "1522 -2115 40"
	"solid" "6"
    "model" "models/props/cs_militia/militiarock02.mdl"
    "disableshadows" "1"
    "angles" "0 0 0"
    "classname" "prop_physics_override"
}

; =====================================================
; ================  FIXED ITEM SPAWNS  ================
; =====================================================

filter:
{
		"hammerid" "2320554"
}
{
		"hammerid" "2320490"
}
{
		"hammerid" "2320486"
}
{
		"hammerid" "2320478"
}
{
		"hammerid" "2320218"
}
{
		"hammerid" "2320214"
}
{
		"hammerid" "2320210"
}
{
		"hammerid" "2320206"
}
{
		"hammerid" "2320202"
}
{
		"hammerid" "2320198"
}
{
		"hammerid" "2320180"
}
{
		"hammerid" "2320172"
}
{
		"hammerid" "2320168"
}
{
		"hammerid" "2320164"
}
{
		"hammerid" "2320160"
}
{
		"hammerid" "2320156"
}
{
		"hammerid" "2320152"
}
{
		"hammerid" "2320140"
}
{
		"hammerid" "2320136"
}
{
		"hammerid" "2320132"
}
{
		"hammerid" "2320128"
}
{
		"hammerid" "2320124"
}
{
		"hammerid" "2320120"
}
{
		"hammerid" "2320116"
}
{
		"hammerid" "2320112"
}
{
		"hammerid" "2320102"
}
{
		"hammerid" "2319676"
}
{
		"hammerid" "2319672"
}
{
		"hammerid" "2242185"
}
; -- the door
{
		"hammerid" "2302356"
}
{
		"classname" "prop_physics"
		"model" "models/props_street\garbage_can_static.mdl"
}
;{
;		"classname" "prop_physics"
;		"model" "models/props_junk/gascan001a.mdl"
;}
;{
;		"classname" "prop_physics"
;		"model" "models/props_junk/propanecanister001a.mdl"
;}
;{
;		"classname" "prop_physics"
;		"model" "models/props_equipment/oxygentank01.mdl"
;}
;{
;		"classname" "prop_physics"
;		"model" "models/props_junk/explosive_box001.mdl"
;}

; =====================================================
add:

{
	"classname" "logic_auto"
	"OnMapSpawn" "WTF_Supply_footlocker_prop,startglowing,,0,1"
	"OnMapSpawn" "WTF_Supply_footlocker_button,AddOutput,mins -8 -8 -8,0,-1"
	"OnMapSpawn" "WTF_Supply_footlocker_button,AddOutput,maxs 8 8 8,0,-1"
	"OnMapSpawn" "WTF_Supply_footlocker_button,AddOutput,solid 2,0,-1"
}
; --- WTF_Supply_footlocker_prop
{
	; Z axis +12
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"glowcolor" "200 200 0"
	"model" "models/props_waterfront/footlocker01.mdl"
	"solid" "6"
	"targetname" "WTF_Supply_footlocker_prop"
	"origin" "3873 3176 -51"
	"disableshadows" "1"
}
{
	"classname" "func_button"
	"origin" "3873 3176 -41"
	"spawnflags" "1025"
	"speed" "5"
	"targetname" "WTF_Supply_footlocker_button"
	"wait" "-1"
	"OnPressed" "!activator,SpeakResponseConcept,RelaxedSigh,0,-1"
	"OnPressed" "WTF_Supply_spawn,ForceSpawn,,0,-1"
	"OnPressed" "WTF_Supply_footlocker_prop,SetAnimation,opening,0,-1"
	"OnPressed" "WTF_Supply_footlocker_prop,SetDefaultAnimation,open,0.1,-1"
	"OnPressed" "WTF_Supply_footlocker_prop,stopglowing,,0,-1"
	;"OnPressed" "WTF_c2m2_newway,Kill,,0,1"
	"OnPressed" "!self,Kill,,0.1,-1"
}
; --- Template to spawn the supply
{
	"classname" "point_template"
	"spawnflags" "2"
	"targetname" "WTF_Supply_spawn"
	"Template01" "WTF_footlocker_Supply"
}
{
	"classname" "weapon_adrenaline"
	"targetname" "WTF_footlocker_Supply"
	"parentname" "WTF_Supply_footlocker_prop"
	"angles" "90 -91 0"
	"origin" "3873 3176 -51"
}
{
	"classname" "weapon_adrenaline"
	"targetname" "WTF_footlocker_Supply"
	"parentname" "WTF_Supply_footlocker_prop"
	"angles" "90 -91 0"
	"origin" "3873 3176 -51"
}
{
	"classname" "weapon_adrenaline"
	"targetname" "WTF_footlocker_Supply"
	"parentname" "WTF_Supply_footlocker_prop"
	"angles" "90 -91 0"
	"origin" "3873 3176 -51"
}

{
		"classname" "weapon_pistol_magnum"
		"origin" "5234 -3032 -55"
		"angles" "0 -104 90"
		"spawnflags" "2"
}

; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================

add:
; --- block climbing into squished section outside saferoom
{
	; invisible block inside narrow section
	"origin" "2244 4076 100"
	"mins" "-60 -84 -28"
	"maxs" "60 84 28"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}

; --- Fix Hunters being unable to pounce in deep water by adding clip underneath it
{
	"origin" "4066 -4704 -482"
	"mins" "-3104 -1184 -184"
	"maxs" "3104 1184 184"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
