;----------FILE MODIFICATION (YY/MM/DD): [2022/11/14] ---------------||
;----------BY: CY----------------------||

add:
{
	"solid" "6"
	"origin" "-2407 14820 2162"
	"angles" "0 269 0"
	"model"	 "models/props_rooftop/rooftank01.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1344 13841 1735"
	"angles" "0 -9 0"
	"model"	 "models/extras/info_speech_australium.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1228 15454 2063"
	"angles" "0 138 0"
	"model"	 "models/props_wasteland/exterior_fence002c.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-2103 13224 2146"
	"angles" "0 268 0"
	"model"	 "models/props_waterfront/tour_bus.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-2812 15026 2321"
	"angles" "0 131 0"
	"model"	 "models/props_signs/burgersign_beacon.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-396 14064 2162"
	"angles" "0 -90 0"
	"model"	 "models/props_vehicles/ceda_trailer_closed.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1669 13933 1745"
	"angles" "0 -90 0"
	"model"	 "models/extras/info_speech_australium.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-2768 12903 1975"
	"angles" "0 -91 0"
	"model"	 "models/props_fortifications/barricade001_128_reference.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-2672 12903 1975"
	"angles" "0 -90 0"
	"model"	 "models/props_fortifications/barricade001_128_reference.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-2234 13392 2162"
	"angles" "0 0 0"
	"model"	 "models/props_crates/static_crate_40.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1903 13633 2278"
	"angles" "0 -90 0"
	"model"	 "models/props_equipment/tablegreenhouse01.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1398 14247 2023"
	"angles" "180 -91 0"
	"model"	 "models/props_mall/mall_escalator.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1526 13500 1739"
	"angles" "0 -180 0"
	"model"	 "models/extras/info_speech_australium.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1969 13583 1802"
	"angles" "0 88 0"
	"model"	 "models/extras/info_speech_australium.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-2086 14237 2010"
	"angles" "0 41 0"
	"model"	 "models/extras/info_speech_australium.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1638 14270 2012"
	"angles" "0 -9 0"
	"model"	 "models/extras/info_speech_australium.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-587 14259 2412"
	"angles" "0 90 0"
	"model"	 "models/props_signs/sign_truckstop_01_lettera.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1049 15505 2064"
	"angles" "0 88 0"
	"model"	 "models/props_wasteland/exterior_fence002d.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1104 13725 2197"
	"angles" "0 -1 0"
	"model"	 "models/lighthouse/book_roku.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1090 13626 2162"
	"angles" "0 -2 0"
	"model"	 "models/props_equipment/tablegreenhouse01.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1074 13511 2197"
	"angles" "0 142 0"
	"model"	 "models/props_fairgrounds/elephant.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1098 13513 2196"
	"angles" "0 139 0"
	"model"	 "models/props_fairgrounds/giraffe.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1077 13521 2197"
	"angles" "0 192 0"
	"model"	 "models/props_interiors/teddy_bear.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1114 13533 2197"
	"angles" "0 0 0"
	"model"	 "models/lighthouse/mate/mate_termo.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1103 13536 2197"
	"angles" "0 -94 0"
	"model"	 "models/lighthouse/mate/mate_yerba.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1120 13552 2197"
	"angles" "0 -3 0"
	"model"	 "models/lighthouse/mate/mate_sanclemente.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1119 13544 2197"
	"angles" "0 -14 0"
	"model"	 "models/lighthouse/mate/mate_sanclemente.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1118 13524 2197"
	"angles" "0 -15 0"
	"model"	 "models/lighthouse/mate/mate_sanclemente.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1120 13518 2197"
	"angles" "0 -26 0"
	"model"	 "models/lighthouse/mate/mate_sanclemente.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1104 13725 2197"
	"angles" "0 -2 0"
	"model"	 "models/lighthouse/candle.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-2112 13492 1685"
	"angles" "0 180 0"
	"model"	 "models/props_unique/hospital05_rooftop_cube01.mdl"
	"classname"	"prop_dynamic"
}

;----------FILE MODIFICATION (YY/MM/DD): [2022/11/18] ---------------||
;----------BY: Air----------------------||

add:
{
	"solid" "0"
	"origin" "-835 13792 2209"
	"angles" "0 -2 0"
	"model"	 "models/props_c17/metalladder001.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-2333 13593 2182"
	"angles" "0 -2 0"
	"model"	 "models/props_c17/metalladder001.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "0"
	"origin" "-1787 13739 2182"
	"angles" "0 1 0"
	"model"	 "models/props_c17/metalladder001.mdl"
	"classname"	"prop_dynamic"
}

;----------FILE MODIFICATION (YY/MM/DD): [2022/11/20] ---------------||
;----------BY: CY----------------------||

add:
{
	"solid" "6"
	"origin" "-1559 14387 2551"
	"angles" "360 630 0"
	"model"	 "models/props_vehicles/airport_fuel_truck.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1436 14121 2551"
	"angles" "0 89 0"
	"model"	 "models/props_vehicles/train_tank_small.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-1537 14107 2551"
	"angles" "0 269 0"
	"model"	 "models/props_vehicles/train_tank_small.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-985 13347 2236"
	"angles" "0 164 0"
	"model"	 "models/props_crates/static_crate_40.mdl"
	"classname"	"prop_dynamic"
}

;----------FILE MODIFICATION (YY/MM/DD): [2022/11/26] ---------------||
;----------BY: Air----------------------||

add:
{
	"solid" "0"
	"origin" "-1398 13873 2181"
	"angles" "0 178 0"
	"model"	 "models/props_c17/metalladder001.mdl"
	"classname"	"prop_dynamic"
}

;----------FILE MODIFICATION (YY/MM/DD): [2022/12/18] ---------------||
;----------BY: CY----------------------||

add:
{
	"solid" "6"
	"origin" "-2099 13026 1975"
	"angles" "0 180 0"
	"model"	 "models/props_vehicles/airport_catering_truck.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-660 14797 2246"
	"angles" "0 180 0"
	"model"	 "models/props_crates/static_crate_40.mdl"
	"classname"	"prop_dynamic"
}

