;----------FILE MODIFICATION (YY/MM/DD): [2022/07/06] ---------------||
;----------BY: CY----------------------||

add:
{
	"solid" "6"
	"origin" "-6472 3500 1564"
	"angles" "0 -180 0"
	"model"	 "models/props_wasteland/exterior_fence002d.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-6909 2033 1564"
	"angles" "0 -90 0"
	"model"	 "models/props_wasteland/exterior_fence002c.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-6982 2108 1564"
	"angles" "0 179 0"
	"model"	 "models/props_wasteland/exterior_fence002c.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-5982 2929 1726"
	"angles" "0 -159 0"
	"model"	 "models/props_vehicles/ceda_trailer_closed.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-5335 3319 1815"
	"angles" "180 176 0"
	"model"	 "models/props_interiors/corkboardverticle01.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-4037 2458 1472"
	"angles" "0 -39 0"
	"model"	 "models/props_signs/raisedbillboard.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-5336 3383 1810"
	"angles" "0 -180 0"
	"model"	 "models/lighthouse/book_roku.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-5336 3262 1852"
	"angles" "720 269 0"
	"model"	 "models/props_interiors/painting_landscape01.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "-6567 4365 1890"
	"angles" "720 -181 90"
	"model"	 "models/props_fortifications/barricade_gate001_64_reference.mdl"
	"classname"	"prop_dynamic"
}

;newladder
add:
{
    "model" "*99"
    "normal.z" "0.00"
    "normal.y" "0.93"
    "normal.x" "-0.34"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-5131.35 9509.06 157.00"
    "angles" "0.00 470.00 0.00"
}

add:
{
    "model" "*145"
    "normal.z" "0.00"
    "normal.y" "-0.93"
    "normal.x" "0.34"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "73.42 1640.65 -60.00"
    "angles" "0.00 20.00 0.00"
}

add:
{
    "model" "*145"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-674.00 -604.00 -201.00"
    "angles" "0.00 0.00 0.00"
};----------FILE MODIFICATION (YY/MM/DD): [2022/07/24] ---------------||
;----------BY: CY----------------------||

add:
{
	"solid" "6"
	"origin" "-5206 3202 1620"
	"angles" "0 180 0"
	"model"	 "models/props_equipment/tablegreenhouse01.mdl"
	"classname"	"prop_dynamic"
}

